/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [PLANT_NAME]
      ,[PLANT_PROGRAM]
      ,[PREFIXPRT]
      ,[BASEPRT]
      ,[SUFFIXPRT]
      ,[CONTROLPRT]
      ,[SUPPLIER]
      ,[CMMS_UPLOAD_STATUS]
      ,[PART_WEIGHT]
      ,[CARRYOVER_PACKAGING]
      ,[CONTAINER_OWNERSHIP]
      ,[PACKAGING_CONFIRM_CODE]
      ,[PACKAGING_RELEASE_LEVEL]
      ,[CONTAINER_BASE]
      ,[CONTAINER_SUFFIX]
      ,[CONTAINER_DESCRIPTION]
      ,[CONTAINER_TYPE]
      ,[COMPONENT1_BASE]
      ,[COMPONENT1_SUFFIX]
      ,[COMPONENT2_BASE]
      ,[COMPONENT2_SUFFIX]
      ,[CONTAINER_PIECES]
      ,[CONTAINER_LENGTH]
      ,[CONTAINER_WIDTH]
      ,[CONTAINER_HEIGHT]
      ,[CONTAINERS_PER_LAYER]
      ,[MAXLPU]
      ,[LPU]
      ,[DUMMY_LAYER]
      ,[CONTAINER_TARE_WEIGHT]
      ,[CONTAINER_GROSS_WEIGHT]
      ,[PPU]
      ,[ULL]
      ,[ULW]
      ,[ULH]
      ,[ULTARE]
      ,[ULGROSSWT]
      ,[PCK_AIDS_1]
      ,[PCK_AIDS_2]
      ,[PCK_AIDS_3]
      ,[PCK_AIDS_COST]
      ,[PCK_AIDS_WT]
      ,[CURRENCY_CODE]
      ,[PACKAGING_PIECE_COST]
      ,[CONTACT_NAME]
      ,[CONTACT_PHONE]
      ,[PACKAGING_COMMENTS]
      ,[CHECKDATE_PLANT_APR]
      ,[PACKAGING_ENGINEER]
      ,[CHECKDATE_PKG_STATUS]
      ,[PACKAGING_COMMENTS_2]
      ,[PACKAGING_COMMENTS_3]
      ,[DWH_INSERT_DATE]
      ,[ConcatKey]
  FROM [dbo].[DPE_Ford_pkg_Gpp]