SELECT DISTINCT
	   P.CD_ORG AS PLANT
      ,P.CD_SUPPLIER AS SUPPLIER
      ,CONCAT (TRIM(P.NO_PART_PREFIX),TRIM(P.NO_PART_BASE),TRIM(P.NO_PART_SUFFIX)) AS PART
      ,P.MS_PART_WT AS PC_WEIGHT
      ,P.MS_SU_LT AS EXP_LT
      ,G.ULL AS GPP_ULL
	  ,P.QT_MAX_PCS_CNTR AS EXP_PCS_CTN
      ,P.QT_MAX_CNTR_LAYER AS RET_LCT
      ,P.QT_MAX_LAYER_SU AS RET_LSU
      ,P.MS_SU_WD AS RT_WD
      ,P.MS_SU_HT AS RT_HT
      ,P.MS_EXP_TARE_WT AS EXP_TARE_WT
      ,P.MS_EXP_CNTR_LT AS EXP_CTN_LT
      ,P.MS_EXP_CNTR_WD AS EXP_CTN_WD
      ,P.MS_EXP_CNTR_HT AS EXP_CTN_HT
      ,P.QT_EXP_PCS_CNTR AS EXP_PPC
      ,P.QT_COP_PCS_CRTN_1 AS COP_PPC
      ,P.QT_COP_CRTN_LAYER AS COP_CPL
      ,P.QT_COP_LAYERS_PLT AS COP_LPP
      ,P.MS_COP_CRTN_WD AS COP_WD
      ,P.MS_COP_CRTN_LT AS COP_LT
      ,P.MS_COP_CRTN_HT AS COP_HT
      --,P.IN_EXP_PKG_LEVEL
      --,P.IN_RET_PKG_LEVEL
      --,P.QT_RET_PKG
      --,P.QT_EXP_PKG
      ,P.NO_CNTR_BASE AS RET_CTN_NO
      --,P.NO_CNTR_SUFFIX
      ,P.NO_COMP_BASE_1 AS RET_COMP_NO_1
      --,P.NO_COMP_SUFFIX_1
      ,P.NO_COMP_BASE_2 AS RET_COMP_NO_2
      --,P.NO_COMP_SUFFIX_2
  FROM DPE_FORD_PKG P
  JOIN llp_ford_rg R
  ON R.SUPPLIER = P.CD_SUPPLIER
  JOIN DPE_FORD_PKG_GPP G
  ON P.CD_SUPPLIER = G.SUPPLIER
WHERE P.MS_SU_LT NOT LIKE G.ULL
AND P.CD_SUPPLIER LIKE '%FHYCD%'